<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=image_tag(current_user.pictures.first.soft_pic.url,size: '100x100')
    %>
    <p>User ID#<%=current_user.id%></p>
    <%= yield %>
  </body>
</html>
